#Jefrey {
    display: grid;
    grid-template-areas: 
    'Jefrey Hobbies'
    'Cats Cats';
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.me {
    grid-area: Jefrey;
    display: grid;
    grid-template-areas: 
        'image heading'
        'image p';
    column-gap: 10px;
    background-color: rgb(104, 104, 233);
    border-radius: 25px;
    text-align: center;
}

.me h1 { grid-area: heading; }
.me p { grid-area: p; }
.me img { grid-area: image; }

.hobbies {
    grid-area: Hobbies;
    display: block;
    background-color: rgb(24, 182, 24);
    text-align: center;
    border-radius: 25px;
}

.hobbies ul {
    list-style: none;
}

.cats {
    grid-area: Cats;
    display: grid;
    grid-template-areas: 
    'heading heading'
    'Loki Wanda';
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 10px;
    background-color: rgb(145, 74, 74);
    border-radius: 25px;
}

#CatHeading {
    grid-area: heading;
    text-align: center;
}

#Loki {
    grid-area: Loki;
    margin-left: 10px;
    background: grey;
}

#Wanda {
    grid-area: Wanda;
    background-color: darkgrey;
}

.Cat {
    display: grid;
    grid-template-areas: 
    'img heading'
    'img p';
    margin-bottom: 10px;
    border-radius: 25px;
}

.Cat h3 {grid-area: heading; text-align: center;}
.Cat p {grid-area: p}
.Cat img {grid-area: img}

@media (max-width: 800px) {
    #Jefrey {
        grid-template-areas: 
        'Jefrey'
        'Hobbies'
        'Cats';
    }
    
}

@media (max-width: 1000px) {
    .cats {
        grid-template-areas: 
        'heading'
        'Loki'
        'Wanda';
    }
}

nav {
    margin-bottom: 10px;
}

nav ul{
    border-radius: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover:not(.active) {
    background-color: #111111;
}

nav ul li a.active {
  background-color: #04AA6D;
}