#Jefrey {
    display: grid;
    grid-template-areas: 
    'Jefrey Hobbies'
    'Cats Cats';
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto auto;
    gap: 10px;
}

.me {
    grid-area: Jefrey;
    display: grid;
    grid-template-areas: 
        'image heading'
        'image p';
    column-gap: 10px;
    background-color: rgb(227, 247, 158);
    border-radius: 25px;
    text-align: center;
}

.me h1 { grid-area: heading; }
.me p { grid-area: p; }
.me img { grid-area: image; }

.hobbies {
    grid-area: Hobbies;
    display: block;
    background-color: rgb(174, 207, 97);
    text-align: center;
    border-radius: 25px;
}

.hobbies ul {
    list-style: none;
}

.cats {
    grid-area: Cats;
    display: grid;
    grid-template-areas: 
    'heading heading'
    'Loki Wanda';
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 10px;
    background-color: rgb(120, 192, 86);
    border-radius: 25px;
}

#CatHeading {
    grid-area: heading;
    text-align: center;
}

#Loki {
    grid-area: Loki;
    margin-left: 10px;
    background: rgb(182, 216, 87);
}

#Wanda {
    grid-area: Wanda;
    background-color: rgb(230, 250, 139);
    margin-left: 10px
}

.Cat {
    display: grid;
    grid-template-areas: 
    'img heading'
    'img p';
    margin-bottom: 10px;
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.Cat h3 {grid-area: heading; text-align: center;}
.Cat p {grid-area: p}
.Cat img {grid-area: img; border-top-left-radius: 10px; border-bottom-left-radius: 10px;}

@media (max-width: 800px) {
    #Jefrey {
        grid-template-areas: 
        'Jefrey'
        'Hobbies'
        'Cats';
    }
}

@media (max-width: 1000px) {
    .cats {
        grid-template-areas: 
        'heading'
        'Loki'
        'Wanda';
    }
}

nav {
    margin-bottom: 10px;
}

nav ul{
    border-radius: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #255327;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover:not(.active) {
    background-color: #1e461e;
}

nav ul li a.active {
  background-color: #37ad08;
}

#Projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 10px;
}

.Project {
    width:320px;
    grid-template-columns: 1fr 1fr;
    display: grid;
    grid-template-areas: 
    'Image Image'
    'Heading Heading'
    'Text Text'
    'Link Link';
    background-color: rgb(120, 192, 86);
    border-radius: 2px;
    border-color:#255327;
    border-style: solid;
}
.Project img {
    border-radius: 2px;
    border-color:#255327;
    border-style: solid;
    grid-area:  Image;
    margin-left:auto;
    margin-right: auto;
    background-color: white;
} 
.Project h2 {grid-area: Heading; text-align: center;}
.Project p {grid-area: Text;}
.LinkDiv {
    margin-left: 10px;
    grid-area: Link;
    display: grid;
    grid-template-areas: 'Link1 Link2';
}
.Link1 {
    grid-area: Link1;
}
.Link2 {grid-area: Link2}

.Link {
    width: fit-content;
    background-color: #255327;
    border-radius: 6px;
    padding: 8px;
    margin-bottom: 5px;
}

.Link a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    text-decoration: none;
}

.Link p {
    margin: 0;
}
